<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\WcfServices.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100MB" />
      <DatePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %type{0}.%method:{%line} - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--them doan nay MODE cua Serivec-->
    <add key ="CheckTime" value ="1"/>
    <!--0 va 1-->
    <add key="TimeStop" value="10:35:00"/>

    <add key ="CheckRam" value ="0"/>
    <!--0 va 1-->
    <add key ="RamMax" value ="1024"/>
    <add key ="TimeSleep" value ="10"/>
    <add key ="TimeSleep_Emty" value ="10"/>
    <!--"Working Set - Private MB-->

    <!--end them doan nay MODE Serivec-->

  </appSettings>

</configuration>
